header {
  background-color: rgb(53, 52, 52);
  height: 10vh;
  box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
  padding: 10px 20px;
  position: relative;
  top: 0;
  z-index: 99999;
  backdrop-filter: blur(10px);
}

header img {
  width: 95px;
  width: 30%;
}

header a {
  margin-left: 30px;
  transition: 0.5s;
  font-weight: 500;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

header a:hover {
  color: #add8e6;
  text-decoration: underline;
}

header h4 {
  font-weight: 500;
  margin-right: 20px;
}

header .toggle {
  display: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  header {
    padding: 0;
  }
  header img {
    margin-top: 30px;
  }
  header .button {
    display: none;
  }
  header .nav .flex {
    display: none;
  }

  header .toggle {
    display: block;
    padding-top: 10px;
    padding-right: 20px;
  }

  .nav .small {
    display: block;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    z-index: 1000;
  }

  header li a {
    display: inline-block;
    margin-bottom: 20px;
    color: #fff;
  }
}

header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header li {
  position: relative;
}
