.naf-container {
  position: relative;
  padding-top: 550px; /* Espaço para o header */
  padding-bottom: 550px; /* Espaço para o footer */
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #ffffff, #add8e6);
  min-height: 70vh;
  box-sizing: border-box;
}

.intro {
  flex: 1;
  text-align: left;
  color: #333;
  font-size: 1.4em; /* tamanho da fonte */
  line-height: 1.4;
  padding-right: 15px;
}

.intro h1 {
  font-size: 2em; /*  tamanho do título */
  font-weight: 700;
  color: #003366;
  margin-bottom: 8px;
}

.intro h2 {
  font-size: 1.3em; /* Reduz o tamanho do subtítulo */
  font-weight: 500;
  color: #00509e;
  margin-bottom: 15px;
}

.card-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px; /* Reduz o espaço entre os cards */
}

.card {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px; /* Reduz padding dos cards */
  border-radius: 8px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  font-size: 1.2em;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.card img {
  width: 31%; /* Reduz tamanho da imagem */
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card:hover {
  transform: translateY(-px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 768px) {
  .overlay {
    flex-direction: column;
    padding: 15px; /* Reduz o padding para telas menores */
  }

  .intro {
    text-align: center;
    padding-right: 0;
  }

  .card-container {
    align-items: center;
  }

  .intro h1 {
    font-size: 1.8em; /* Ajuste do título para telas menores */
  }

  .intro h2 {
    font-size: 1.2em; /* Ajuste do subtítulo */
  }
}
